:root {
    /* COLORES */
    --color-amarillo : #EAC926;
    --color-azul : #03264C;
    --color-celeste : #1259c3;
    --color-grisOscuro : #666;
    --color-grisClaro : #ebebeb;
    --color-verde : #39b54a;
    /* FUENTES */
    --font-roboto : 'Roboto', sans-serif;
    /* Tamaños de fuente */
    --paragraph: 12px;
    --title: 24px;
    --prices:18px;
    --discounts: 16px;
    --discounts-descriptions: 16px;
}
    /****************/
        /*GENERAL*/
     /**************/   

* {
    margin: 0;
    padding: 0;
}

a{
    color:black;
    text-decoration: none;

}

        /*BODY*/

body{
    font-family: var(--font-roboto);
    background-color: var(--color-grisClaro);
}

li{
    list-style: none;
}

.ml-15{
    margin-left: 15px;
}

        /*HEADER*/

header {
    background-color: var(--color-amarillo);
    font-size: var(--paragraph);
    padding-bottom: 10px;
}

header .burger-menu{
    background-color: var(--color-celeste);
    border-radius: 5px;
    color:white;
    margin: 10px auto 10 auto;
    padding: 7px;
    width: 15px
}

header .logo {
    width: 130px;
    margin-left: 25px;
    padding-top: 30px;
    margin-bottom: 10px;
}

header p{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#top-list {
    margin-bottom: 10px;
}
/*      BANNER      */
.banner{
    display:none;
}
/*    MAIN  */
main{
    margin: 0 auto;
    width: 90%;
}

/*      CARD    */
.card{
    background-color: white;
    margin-bottom: 10px;
}

.card .card-content{
    display:none;
    border-top: 1px solid var(--color-grisClaro);
    padding: 15px;
}

.card .card-content h6{
    display:none
}


.card .card-content .icono-truck{
    border: 1px solid var(--color-verde);
    border-radius: 50%;
    padding: 10px;
    width: fit-content;
}
.card .card-content .icono-truck i {
    color: var(--color-verde);
}

/*      MEDIA QUERIES   */
/*TABLET*/
@media (min-width: 361px){
    .card .card-content h6{
        display: block;
    }
}
/* DESKTOP */
/* Desktop */
@media (min-width: 769px) { 
    
}

body main section h3 {
    font-family: var(--font-roboto);
    font-size: var(--title);
}

#precios {
    font-family: var(--font-roboto);
    font-size: 18px;
}

#descuentos {
    font-family: var(--font-roboto);
    font-size: 16px;
    margin-bottom: 5px;
}

body main section article h4 {
    font-family: var(--font-roboto);
    font-size: 16px;
}


#bottom-list li a i {
    margin-left: 5px;
}
/*margin adentro padding afuera de la caja */